:host {
  display: block;
  border: 1px solid #f0ebeb;
  border-radius: 5px;
  padding: 15px;
  background-color: #fafafa;
  width: 400px;
  margin-left: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
